version: 2

references:
  container_config: &container_config
    docker:
      - image: abronan/rust-circleci:latest
    environment:
      PROJECT_NAME: orangesys
      CLOUDSDK_COMPUTE_ZONE: asia-northeast1-c
      ORG_PATH: "github.com/orangesys"
      REPO_PATH: "${ORG_PATH}/${CIRCLE_PROJECT_REPONAME}"
      
jobs:
  build_test:
    <<: *container_config
    steps:
      - checkout
      - restore_cache:
          key: project-cache
      # - run:
      #     name: Check formatting
      #     command: |
      #       rustfmt --version
      #       cargo fmt -- --write-mode=diff
      - run:
          name: Nightly Build
          command: |
            rustup run nightly rustc --version --verbose
            rustup run nightly cargo --version --verbose
            rustup run nightly cargo build
      - run:
          name: Stable Build
          command: |
            rustup run stable rustc --version --verbose
            rustup run stable cargo --version --verbose
            rustup run stable cargo build
      # - run:
      #     name: Test
      #     command: rustup run stable cargo test
      # - run:
      #     name: Upload Coverage
      #     command: ./scripts/codecov.sh
      - save_cache:
          key: project-cache
          paths:
            - "~/.cargo"
            - "./target"

  build_container:
    <<: *container_config
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Install docker client
          command: |
            set -x
            VER="17.07.0-ce"
            curl -L -o /tmp/docker-$VER.tgz https://download.docker.com/linux/static/edge/x86_64/docker-${VER}.tgz
            tar -xz -C /tmp/ -f /tmp/docker-$VER.tgz
            mv /tmp/docker/* /usr/bin

      - run:
          name: Build container
          command: |
            version=$(git describe --always --tags)
            docker build --tag "orangesys/${CIRCLE_PROJECT_REPONAME}:${version}" .
            docker images

      - run:
          name: push container to docker hub
          command: |
            version=$(git describe --always --tags)
            docker login -u $DOCKER_USER -p $DOCKER_PASS
            docker push "orangesys/${CIRCLE_PROJECT_REPONAME}:${version}"

workflows:
  version: 2
  build-and-container:
    jobs:
      - build_test:
          filters:
            tags:
              only: /^v[0-9]+(\.[0-9]+)*/          
      - build_container:
          requires:
            - build_test
          filters:
            tags:
              only: /^v[0-9]+(\.[0-9]+)*/
            branches:
              ignore: /.*/